
.body-container {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.footer-container {
	align-content: center;
	text-align: center;
}

.password-container {
	padding-top: 50px;
}

.icon.lg {
    line-height: 100px;
    font-size: 100px;
    padding: 10px;
}

.decrypt-info {
	margin-top: 80px;
}

.decrypt-info-a {
	color: white;
}

.decrypt-info-button {
	background-color: #FF9800;
	color: white;
	padding: 10px;
}
