extends layout

block content
	div(class='mdl-layout__content')
		h3= title
		.ul
			each item in texts
				if texts.length > 1
					li= item
				else
					li(style='list-style-type: none;')= item
		h4= 'Code'
		form(method='POST', action= '/decrypt')
			input(type='hidden', name='cipher', value= cipher)
			input(type='hidden', name='texts', value= stored_texts)
			div(class='mdl-textfield mdl-js-textfield mdl-textfield--floating-label ' + isInvalid)
				input(class='mdl-textfield__input', type='text', id='password', name= 'password', value= password)
				label(class='mdl-textfield__label', for='password') Code eingeben
				span(class='mdl-textfield__error') Falscher Code
			div(class='password-container')
				button(class='mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored' type='submit') Klartext anzeigen