doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='stylesheet', href='https://code.getmdl.io/1.3.0/material.orange-teal.min.css')
		link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
		script(src='https://code.getmdl.io/1.3.0/material.min.js')
	body
		div(class='mdl-layout mdl-js-layout mdl-layout--fixed-header')
			header(class='mdl-layout__header')
				div(class='mdl-layout__header-row')
					span(class='mdl-layout-title') #{title}
			main(class='mdl-layout__content')
				div(class='mdl-grid')
					div(class='mdl-layout-spacer')
					div(class='body-container mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet mdl-cell--12-col-phone')
						block content
					div(class='mdl-layout-spacer')
				div(class='footer body-container mdl-grid')
					div(class='mdl-layout-spacer')
					div(class='footer-container mdl-cell mdl-cell--8-col mdl-cell--10-col-tablet mdl-cell--12-col-phone')
						h6= 'Melde dich für die Enzevalos-App, und schütze deine Privatsphäre'
						a(class='icon lg ion-social-apple mdl-color-text--orange', href='http://userpage.fu-berlin.de/wieseoli/letterbox/')
					div(class='mdl-layout-spacer')
